
@import '../../styles/base';

.nav-bar {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-bottom: 1.5rem;
  // background-color: $app-blue-dark;
  background: rgba(77,148,189,1);
  background: -moz-linear-gradient(top, rgba(77,148,189,1) 0%, rgba(75,181,173,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,148,189,1)), color-stop(100%, rgba(75,181,173,1)));
  background: -webkit-linear-gradient(top, rgba(77,148,189,1) 0%, rgba(75,181,173,1) 100%);
  background: -o-linear-gradient(top, rgba(77,148,189,1) 0%, rgba(75,181,173,1) 100%);
  background: -ms-linear-gradient(top, rgba(77,148,189,1) 0%, rgba(75,181,173,1) 100%);
  background: linear-gradient(to bottom, rgba(77,148,189,1) 0%, rgba(75,181,173,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fc6bd', endColorstr='#4bb5c1', GradientType=0 );
}

.nav-bar__logo {
  height: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  opacity: .9;

  @media (max-width: 740px) {
    margin-right: .5rem;
  }
}

.breadcrumbs {
  margin-top: .25rem;
  margin-bottom: .5rem;
  flex: 2;
}

.breadcrumb {
  cursor: pointer;
  padding-left: 1em;
  font-size: 1rem;
}

a.breadcrumb__link {
  color: #fff;
  font-weight: 600;
}

.breadcrumb__link.is-inactive {
  pointer-events: none;
  font-weight: 400;
}

.route-title {
  flex: 2;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: .875rem;
  margin-bottom: 0;
  text-align: left;
}

.nav-bar__app-control {
  margin-right: 1rem;
}

.username {
  // display: inline-block;
  font-size: .875rem;
  margin-bottom: 0;
  margin-right: 1em;
  color: #fff;
}

.logout-button {
  font-size: .875rem;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
}

.logout-button:hover {
  opacity: .8;
}
