@import '../../styles/base';


.login {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  color: #fff;
  padding-top: 10%;
}

.app-name {
  margin-bottom: 6rem;
}

.login {
  background: $app-blue-dark;
}

.login-form-button {
  border: 1px solid #ccc;
  color: #f8f8f8;
  border-radius: 3px;
  margin-bottom: 3rem;
  font-weight: 600;
}

.login-form-button--d2l {
  min-width: 10rem;
}

.login-form-button:hover {
  opacity: .8;
}

.d2l-login-button__image {
    height: 1rem;
    margin-left: .5em;
}

.login-form-button.is-disabled {
  opacity: .5;
  pointer-events: none;
}

.visiting-prompt-button {
  font-size: .875rem;
  margin-bottom: .125rem;
  color: #ccc;
  font-weight: 600;
}

.login-form__input {
  background: transparent;
  box-shadow: none;
  color: #fff;
  font-weight: 300;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-bottom: 2px solid #aaa;
}

.login-form__input:focus {
  background: transparent;
  box-shadow: none;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #fff;
}

.login-form-button--submit {
  min-width: 10rem;
  display: block;
  margin-right: 0;
  margin-left: auto;
}
