
.answered-question-cue {
  width: 100%;
  padding: .75rem 1rem;
  background: #fcfcfc;
  box-shadow: 0 0 1px 1px rgba(#000, .1);
  font-style: italic;

}

.cue-text {
  font-style: italic;
  margin-bottom: 0;
  font-size: .875rem;
}
